body{
    background: linear-gradient(135deg,#ffd6e8,#fff0f5);
    font-family: Arial, sans-serif;
}


.container{
    width:80%;
    margin:50px auto;
    text-align:center;
    background:white;
    padding:30px;
    border-radius:20px;
}


input{
    padding:12px;
    width:250px;
    border-radius:10px;
}


button{
    padding:12px 20px;
    margin:10px;
    border-radius:10px;
    cursor:pointer;
}


img{
    border-radius:15px;
}