body{

    margin:0;

    font-family:Arial,Helvetica,sans-serif;

    background:linear-gradient(135deg,#ffd6e7,#dbe9ff);

}

.container{

    width:700px;

    margin:40px auto;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    text-align:center;

}

h1{

    color:#ff4f93;

}

input{

    width:80%;

    padding:15px;

    border-radius:12px;

    border:2px solid #ff4f93;

    font-size:18px;

}

button{

    padding:14px 28px;

    margin:10px;

    border:none;

    border-radius:12px;

    background:#ff4f93;

    color:white;

    font-size:17px;

    cursor:pointer;

}

button:hover{

    background:#e2367d;

}

#barcode{

    margin-top:20px;

}

#qrcode{

    margin:20px auto;

    width:220px;

}